.home-container{
    padding: 60px 30px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: #1f1f1f;
    background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
    min-height: 100vh;
}

.home-container{
    padding-top: 80px;
    text-align: center;
    padding-bottom: 50px;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-header{
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
   
    letter-spacing: 1px;
}

.home-footer{
    margin-top: auto;
    background-color: #1f1f1f;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

.intro-section h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.intro-section .highlight{
    color: #0077ff;
}

.intro-section h2{
    font-size: 1.5rem;
    color: #555;
}

.intro-section p{
    margin: 20px 0;
    color: #777;
}

.icons{
    margin-top: 20px;
    font-size: 2rem;
}

.icons a{
    color: #0077ff;
    margin: 0 15px;
    transition: 0.3s;
}

.icons a:hover{
    color: #000;
}

.skills-section{
    margin-top: 60px;
}

.skills-section h3{
    font-size: 2rem;
    margin-bottom: 30px;
}

.skill{
    margin: 15px auto;
    max-width: 400px;
    text-align: left;
}

.skill span{
    font-weight: bold;
}

.bar{
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    overflow: hidden;
    margin-top: 5px;
}

.bar.html::after{
    content: '';
    display: block;
    height: 100%;
    width: 95%;
    background-color: #e44d26;
}

.bar.css::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #264de4;
}

.bar.js::after{
    content: '';
    display: block;
    height: 100%;
    width: 80%;
    background-color: #f0db4f;
}

.bar.react::after{
    content: '';
    display: block;
    height: 100%;
    width: 80%;
    background-color: #61dafb;
}

.bar.TS::after{
    content: '';
    display: block;
    height: 100%;
    width: 80%;
    background-color: violet;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}
.navbar li{
    margin: 0 20px;
}
.navbar a{
    text-decoration: none;
    color: #f0ecec;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar a:hover{
    color: #0077ff;
}
.top-line{
    height: 4px;
    background-color: linear-gradient(to right, #0077ff, #00c3ff);
}
.bottom-divider{
    height: 4px;
    background: linear-gradient(to left, #0077ff, #00c3ff);
    margin-top: 60px;
}